header{
    color:brown;
    background-color: beige;
}
footer{
    color:green;
}

.funcionarios{
    color:green;
}

.estoque {
    color: black;
    background-color: beige;
}
.lojinha{
    color:black;
    background-color: beige;
}
.produto{
    color:black;
    background-color: beige;
}